myvenv/Lib/site-packages/pip/__pycache__/*.pyc
myvenv/Lib/site-packages/pip/_internal/__pycache__/*.pyc
myvenv/Lib/site-packages/pip/_internal/cli/__pycache__/*.pyc
myvenv/Lib/site-packages/pip/_internal/commands/__pycache__/*.pyc
myvenv/Lib/site-packages/pip/_internal/models/__pycache__/*.pyc
myvenv/Lib/site-packages/pip/_internal/utils/__pycache__/*.pyc
myvenv/Lib/site-packages/pip/_vendor/__pycache__/*.pyc
myvenv/Lib/site-packages/pip/_vendor/colorama/__pycache__/*.pyc
myvenv/Lib/site-packages/pip/_vendor/packaging/__pycache__/*.pyc
myvenv/Lib/site-packages/pip/_vendor/pkg_resources/__pycache__/*.pyc
myvenv/Lib/site-packages/pip/_vendor/progress/__pycache__/*.pyc
myvenv/Lib/site-packages/pip/_vendor/urllib3/__pycache__/*.pyc
myvenv/Lib/site-packages/pip/_vendor/urllib3/contrib/__pycache__/*.pyc
myvenv/Lib/site-packages/pip/_vendor/urllib3/packages/__pycache__/*.pyc
myvenv/Lib/site-packages/pip/_vendor/urllib3/packages/ssl_match_hostname/__pycache__/*.pyc
myvenv/Lib/site-packages/pip/_vendor/urllib3/util/__pycache__/*.pyc
mysite/blog/__pycache__
mysite/blog/migrations
mysite/mysite/__pycache__
mysite/db.sqlite3
mysite-1/db.sqlite3