{% extends "cs/base.html" %}
{% block title %}CS 요청리스트{% endblock %}
{% block content %}

<form class="inputBox" method="post">{% csrf_token %}
    매출처 = <select name="order_site">
        <option value="site">바로방</option>
        <option value="site">퍼니</option>
        <option value="site">케어퍼니처</option>
    </select>
    {{ form.as_p }}
    <input type="submit" value="등록">
</form>


<ul class="requsetList">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function doDisplay(i){
            var con = document.getElementsByClassName("text");
                    if(con[i].style.display=='none'){
                        con[i].style.display = 'block' ;
                    }else{
                        con[i].style.display='none';
                    }
                };
       
        $(function(){
            $('.edit').click(function(){
            var i = $(this).attr('id')[4]
            var p = $(this).attr('pk')
            $(document).on('click','#edit'+i, function(){
            var text = $('#text'+i).text();
            $("#text"+i).html("<input type='text' value='"+text+"' id='editDo'>"+"<br>"+"<button type='submit' id='doedit' name='request_text' pk="+p+">수정하기</button>");
            $("#edit"+i).html("<button type='submit' id='doedit'>수정하기</button>");
            })})

            $(function(){
                var i = $(this).attr('id')[4]
                $('#edit'+i).click(function(){
                var send_text = $('#text'+i).val()
                $.ajax({
                    url : 'text/',
                    data : {'send_text':send_text},
                    success:function(data){
                        $('#text'+i).html(data)
                    }
                })
            })
            
            
            
            })})


        
    </script>
{% for request in object_list %}
    <form action="{% url 'request_merge' %}" method = 'post'>{% csrf_token %}
        <li>
            <a href='javascript:doDisplay({{forloop.counter0}})'>{{ request.name }}//{{ request.address }}//{{ request.phone_number }}</a>
            <div class ="text">
            <p id="text{{forloop.counter0}}">{{ request.text }}</p>
                <button type="button">처리완료</button>
                <button type="button" id="edit{{forloop.counter0}}" class="edit" pk='{{request.pk}}'>수정</button>
            </div>
    </form>
    </li>
    {% endfor %}
</ul>




{% endblock %}
